- name: Create deploy user
  user:
    name: deploy
    shell: /bin/bash
    groups: sudo
    create_home: yes

- name: Add SSH key for deploy user
  authorized_key:
    user: deploy
    state: present
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

- name: Allow deploy user passwordless sudo
  lineinfile:
    path: /etc/sudoers.d/deploy
    line: "deploy ALL=(ALL) NOPASSWD:ALL"
    create: yes
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'