# Terraform
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfplan
.terraform/

# Ansible
ansible/roles/nginx/vars/main.yaml
.retry
.vault_pass
.vault_password
.ansible_vault
__pycache__/
*.pyc
*.pyo
*.pem
*.key
id_rsa
id_rsa.pub